.button {
    padding: 10px 24px;
    line-height: 12px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    border: 0;
}

.button--icon-only {
    padding: 10px;
}

.button--primary {
    background: #ec691a;
    color: #fff;
}

.button--primary:hover {
    background: #d45c15;
}

.button--primary:active {
    background: #c75614;
}

.button--danger {
    background: #EE1B34;
    color: #fff;
}

.button--danger:hover {
    background: #e11a32;
}

.button--danger:active {
    background: #d61a30;
}

.button--secondary {
    background: #F5F5F5;
    color: #414141;
}

.button--secondary:hover {
    background: #eaeaea;
}

.button--secondary:active {
    background: #dfdfdf;
}
