.page-header {
    background: #fff;
}

.page-header__content {
    padding: var(--padding-m) var(--padding-l);
    max-width: var(--max-content-width);
    margin: 0 auto;

    @media (width < 1024px) {
        padding: var(--padding-m);
    }
}

.page-header__subtitle {
    margin-top: 4px;
    font-size: 13px;

    @media (width < 1024px) {
        display: none;
    }
}
