.site-header {
    background: #222;
    display: flex;
    align-items: center;
}

.site-header__logo {
    color: var(--brand-color);
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.site-header__logo:hover {
    color: #fff;
}

.site-header__logo::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 1px;
    height: 20px;
    background: #7B7B7B;
}

.site-header__title {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 24%;
    text-transform: uppercase;
    height: 36px;
    padding: 0 16px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}
