:root {
  --text: #414141;
  --bg: #F5F5F5;

  /** fonts */
  --font: "Inter";

  /** margins */
  --padding-l: 40px;
  --padding-m: 24px;

  /** content */
  --max-content-width: 1720px;
}

body {
  font-family: var(--font), sans-serif;
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;

  @media (width >= 1024px) {
    font-size: 15px;
    text-align: center;
  }
}

h2 {
  font-weight: 600;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}
