:root {
  --brand-color: #ec691a;

  --text-primary-color: #414141;
  --text-secondary-color: #7B7B7B;
  --text-tertiary-color: #A0A0A0;
  --bg: #F5F5F5;

  /** fonts */
  --font: "Inter";

  /** margins */
  --padding-l: 40px;
  --padding-m: 24px;

  /** content */
  --max-content-width: 1720px;
}

body {
  font-family: var(--font), sans-serif;
  line-height: 1.4;
  margin: 0;
  background: var(--bg);
  color: var(--text-primary-color);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 22px;

  @media (width < 1024px) {
    font-size: 15px;
    text-align: center;
  }
}

h2 {
  font-weight: 600;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}
